<title>Everything at once</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content="Chaos at your fingertips">
    <! Stylesheets !>
    <link rel='stylesheet' href='stylesheet.css'>
    <! Header !>
    <header>
        <center>
            <a href='https://everythingatonce.tk'><img src='assets/logo.png' width='456' height='200' title='Everything at once'></img></a>
            <br>
            <nav class='navigation'>
                
                <a class='navitem' href='https://everythingatonce.tk'><li>Home</li></a>
                </nav>
                
            </center>
            </header>
    </head>
