
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
    list-style: none;
    text-decoration: none;
    color:white;
}
.navitem {
    text-decoration: none;
    color:black;
}
.navitem :hover {
    background:black;
    color:white;
}
